nav.navbar.navbar-expand-xl.navbar-light.fixed-top.border-bottom.shadow-sm.font-header(style='background-color: #ffffff;')
    .container
        a.navbar-brand(href='/', style='font-size: 1.5rem;') Anime4VN
        button.navbar-toggler.mr-auto(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse.mr-4
            ul.navbar-nav.ml-auto
                li.nav-item.active
                    a.nav-link(href='/')
                        | TRANG CHỦ
                        span.sr-only (current)
                li.nav-item.dropdown
                    a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        | THỂ LOẠI
                    .dropdown-menu(aria-labelledby='navbarDropdown')
                        .container
                            .row
                                .col
                                    table
                                        tbody
                                            tr
                                                td
                                                    table
                                                        tbody
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='/genre/action')
                                                                        | hành
                                                                        | động
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='/genre/demons') demons
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='/genre/harem') harem
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='/genre/romance')
                                                                        | lãng
                                                                        | mạn
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='/genre/shoujo') shoujo
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='/genre/vampire') Vampire
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='/genre/adventure')
                                                                        | phiêu
                                                                        | lưu
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='/genre/drama') Drama
                                                td
                                                    table
                                                        tbody
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='/genre/magic')
                                                                        | phép
                                                                        | thuật
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='/genre/ecchi') Ecchi
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='/genre/school')
                                                                        | học
                                                                        | đường
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='/genre/shounen') Shounen
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='/genre/comedy')
                                                                        | hài
                                                                        | hước
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='/genre/game') Game
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='/genre/sci-fi')
                                                                        | khoa
                                                                        | học viễn tưởng
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='/genre/slice-of-life')
                                                                        | đời
                                                                        | thường
                                    //
                                        <a class="dropdown-item" href="./waching-video-naruto">Action</a>
                                        <a class="dropdown-item" href="./waching-video-naruto">Action</a>
                li.nav-item.dropdown
                    a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        | mùa anime
                    .dropdown-menu(aria-labelledby='navbarDropdown')
                        .container
                            .row
                                .col
                                    table
                                        tbody
                                            tr
                                                td
                                                    table
                                                        tbody
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='/season/spring')
                                                                        | mùa
                                                                        | xuân
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='/season/summer')
                                                                        | mùa
                                                                        | hạ
                                                td
                                                    table
                                                        tbody
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='/season/autumn')
                                                                        | mùa
                                                                        | thu
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='/season/winter')
                                                                        | mùa
                                                                        | đông
                li.nav-item.dropdown
                    a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        | NĂM SX
                    .dropdown-menu(aria-labelledby='navbarDropdown')
                        .container
                            .row
                                .col
                                    table
                                        tbody
                                            tr
                                                td
                                                    table
                                                        tbody
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='/year/2010')
                                                                        | anime
                                                                        | 2010
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='/year/2012')
                                                                        | anime
                                                                        | 2012
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='/year/2014')
                                                                        | anime
                                                                        | 2014
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='/year/2016')
                                                                        | anime
                                                                        | 2016
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='/year/2018')
                                                                        | anime
                                                                        | 2018
                                                td
                                                    table
                                                        tbody
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='/year/2011')
                                                                        | anime
                                                                        | 2011
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='/year/2013')
                                                                        | anime
                                                                        | 2013
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='/year/2015')
                                                                        | anime
                                                                        | 2015
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='/year/2017')
                                                                        | anime
                                                                        | 2017
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='/year/2019')
                                                                        | anime
                                                                        | 2019
                li.nav-item
                    a.nav-link(href='https://anitrendz.net/')
                        | bxh
                li.nav-item
                    a.nav-link(href='https://anichart.net')
                        | lịch chiếu
                li.nav-item
                    a.nav-link(href='/search')
                        | tìm kiếm
        //- if user
        //-     a.navbar-brand(href='/user/' + user.id)
        //-         img.rounded-circle(style='border: 1px solid #d3d3d3;', src=user.avatar, alt='logo', width='50px', height='50px')
        //-     a(href="/auth/logout") log-out
        //- else if admin
        //-     a.navbar-brand(href='/admin/' + admin.id)
        //-         img.rounded-circle(style='border: 1px solid #d3d3d3;', src=admin.avatar, alt='logo', width='50px', height='50px')
        //-     a(href="/auth/logout") log-out
        if user 
            ul.navbar-nav.ml-auto
                li.nav-item.dropdown
                    a.navbar-brand#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        img.rounded-circle(style='border: 1px solid #d3d3d3;', src=user.avatar, alt='logo', width='50px', height='50px')
                    .dropdown-menu(aria-labelledby='navbarDropdown')
                        .container
                                .row
                                    .col
                                        table
                                            tbody
                                                tr
                                                    td
                                                        table
                                                            tbody
                                                                tr
                                                                    td
                                                                        a.dropdown-item(href='/user/' + user.id)
                                                                            i.fas.fa-user
                                                                            span= " "
                                                                            |
                                                                            span Trang cá nhân
                                                                
                                                                tr
                                                                    td
                                                                        a.dropdown-item(href='/favorite/user/' + user.id)
                                                                            i.fas.fa-heart
                                                                            span= " "
                                                                            |
                                                                            span Anime Đã yêu thích

                                                                tr
                                                                    td
                                                                        a.dropdown-item(href='/auth/change')
                                                                            i.fas.fa-unlock-alt
                                                                            span= " "
                                                                            |
                                                                            span Đổi mật khẩu
                                                                tr
                                                                    td
                                                                        a.dropdown-item(href='/auth/logout')
                                                                            i.fas.fa-power-off
                                                                            span= " "
                                                                            |
                                                                            span Thoát

        else if admin
            ul.navbar-nav.ml-auto
                li.nav-item.dropdown
                    a.navbar-brand#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        img.rounded-circle(style='border: 1px solid #d3d3d3;', src=admin.avatar, alt='logo', width='50px', height='50px')
                    .dropdown-menu(aria-labelledby='navbarDropdown')
                        .container
                                .row
                                    .col
                                        table
                                            tbody
                                                tr
                                                    td
                                                        table
                                                            tbody
                                                                tr
                                                                    td
                                                                        a.dropdown-item(href='/admin/' + admin.id)
                                                                            i.fas.fa-user
                                                                            span= " "
                                                                            |
                                                                            span Trang cá nhân

                                                                tr
                                                                    td
                                                                        a.dropdown-item(href='/items/create')
                                                                            i.fas.fa-user-cog
                                                                            span= " "
                                                                            |
                                                                            span Thêm Anime Mới
                                                                tr
                                                                    td
                                                                        a.dropdown-item(href='/itemsupdate/create')
                                                                            i.fas.fa-user-cog
                                                                            span= " "
                                                                            |
                                                                            span Cập nhật Tập Mới Anime
                                                                tr
                                                                    td
                                                                        a.dropdown-item(href='/year/2016')
                                                                            i.fas.fa-unlock-alt
                                                                            span= " "
                                                                            |
                                                                            span Đổi mật khẩu
                                                                tr
                                                                    td
                                                                        a.dropdown-item(href='/admin/logout')
                                                                            i.fas.fa-power-off
                                                                            span= " "
                                                                            |
                                                                            span Thoát
                
        else
            a.navbar-brand(href='/user/')
                img.rounded-circle(style='border: 1px solid #d3d3d3;', src='/assets/images/akari.jpg', alt='logo', width='50px', height='50px')
