.row.d-flex.justify-content-start    
    each item in items
        .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-6.mb-4
            .item-anime
                a(href= "/anime/" + item.url + "/" + item.epvideo)
                    img.anime-thumbnail(src=item.image, alt='img')
                    .overlay
                        .play-button
                            img(src='/assets/images/play-button.png')
                        .info
                            .title
                                a(href='#')= item.title
                            .ep
                                a(href='#')= item.epUpdate 
                                a(href="#") /
                                a(href='#')= item.epLast
                        .count
                            .time-count
                                i.far.fa-clock
                                span= item.time
