extends ../extends/layout

block content
    //- header
    include ../includes/content/indexRoute/header
    .pt-5
    .container.font-default
        h2.pt-5.mt-5 Thêm Anime

        if errors
            each error in errors
                .alert.alert-danger= error

        form(action="/items/create", method="POST", enctype="multipart/form-data")
            .form-group
                label(for="title") Title
                input#title.form-control(name="title", type="text", value=values ? values.title : "")
            
            .form-group
                label(for="ortherTitle") Orther Title
                input#ortherTitle.form-control(name="ortherTitle", type="text", value=values ? values.ortherTitle : "")
            
            .form-group
                label(for="backGround") BackGround
                input#backGround.form-control-file(name="backGround", type="file")

            .form-group
                label(for="image") Image
                input#image.form-control-file(name="image", type="file")

            .form-group
                label(for="scores") Scores
                input#scores.form-control(name="scores", type="text", value=values ? values.scores : "")
            
            .form-group
                label(for="status") Status
                input#status.form-control(name="status", type="text", value=values ? values.status : "")

            .form-group
                label(for="genre") Genre
                input#genre.form-control(name="genre", type="text", value=values ? values.genre : "")
            
            .form-group
                label(for="genreOrther") Genre Orther
                input#genre.form-control(name="genreOrther", type="text", value=values ? values.genreOrther : "")
           
            .form-group
                label(for="season") Mùa Anime
                input#season.form-control(name="season", type="text", value=values ? values.season : "")

            .form-group
                label(for="year") Năm SX
                input#year.form-control(name="year", type="text", value=values ? values.year : "")

            .form-group
                label(for="url") URL
                input#url.form-control(name="url", type="text", value=values ? values.url : "")

            button.btn.btn-primary Create